body {
  text-align: center;
  font-family: Arial;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 10px;
}

.active {
  background-color: brown;
}